<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin</title>
</head>
<body>
    <%- include('nav.ejs', {isLoggedIn:isLoggedIn}) %>
    <br>
    <div id="admin">
        <div id="usersList">
            <h2>All Users</h2>
            <% for (let user of users) { %> 
                <a href="/admin/likeList/<%= user.email %>" id="user"><%= user.name %></a>
            <% } %>
        </div>
        <div id="usersLike">
            <h2><%= user.name %>'s Like List</h2> 
            <div id="likeSet">
                <% for (let product of user.like) { %> 
                    <div id="likeCard">
                        <h3><%= product.title %></h3>
                        <img src="<%= product.imgURL %>" alt="<%= product.title %>">
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>